.button {
  display: block;
  min-width: 9em;
  margin: 10px;
  padding: 15px 30px;
  background-size: 200% auto;
  border-radius: 10px;
  border: 0px;
  color: white;
  background-image: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
  box-shadow: 0px 0px 14px -7px #f09819;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &.red {
    box-shadow: 0px 0px 14px -7px #aa0303;
    background-image: linear-gradient(45deg, red 0%, #e44366 51%, #da3818 100%);
  }
  &.blue {
    box-shadow: 0px 0px 14px -7px #0322aa;
    background-image: linear-gradient(45deg, rgb(4, 0, 255) 0%, #43dfe4 51%, #37acac 100%);
  }
  &.green {
    box-shadow: 0px 0px 14px -7px #03aa43;
    background-image: linear-gradient(45deg, rgb(8, 85, 34) 0%, #0ddb0d 51%, #5bc57e 100%);
  }
  &.grey {
    box-shadow: 0px 0px 14px -7px #c4ccc7;
    background-image: linear-gradient(45deg, rgb(83, 90, 85) 0%, #c3d3c3 51%, #222423 100%);
  }
  &.long {
    width: 100%;
  }
}

.button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
}
