.circle-square {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  width: fit-content;
  button {
    // display: block;
    // padding: 1em;
    // border: none;
    // background-color: rgba(29, 155, 86, 0.342);
    // border-radius: 8px;
    // color: white;
  }
  .circle {
    width: 100px;
    height: 100px;
    border: 1px solid orange;
    border-radius: 50%;
    &.squared {
      border-radius: 0;
    }
  }
}
