.vandenynas {
  background-color: #0b5180;
  padding: 4em;
  border-radius: 50px;
  width: 100%;

  ul {
    list-style: none;
    width: 100%;
    margin: 1em;
    span {
      font-weight: bold;
    }
  }
}
