.dogs-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: orange;
    color: black;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
