.tvenkinys {
  background-color: rgb(109, 164, 209);
  padding: 3em;
  width: fit-content;
  border-radius: 50px;
  ul {
    list-style: none;
    li {
      span {
        font-weight: bold;
      }
    }
  }
}
