* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-height: 100svh;
  height: 100%;
  padding-bottom: 2em;
  background-color: #282c34;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
a {
  color: aquamarine;
  text-decoration-color: transparent;
}
a:hover,
a:focus {
  text-decoration-color: aquamarine;
}
